
@{
    ViewBag.Title = "Index";
}

<h2>Witaj Recepcjonisto!</h2>
<h3>
    <br />
    Na tej stronie masz możliwość zarządzania m.in zapisania wizyty pacjenta,<br />
    oraz dostęp i dokumentacja do podstawowych informacji o nim.
</h3>
