@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1 style="color:grey">Wirtualna przychodnia lekarska </h1>
    <p class="lead">Dzięki tej aplikacji internetowej masz dostęp do wszelkich informacji dotyczących naszej przychodni! </p>
    <p><a href="http://localhost:61651/Home/O_nas" class="btn btn-primary btn-large">Dowiedz się więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="red">Strefa lekarza</h2>
        <p>
            Jeżeli jesteś lekarzem kliknij tutaj, aby się zalogować i mieć dostęp do systemu. 
        </p>
        <br /> 
        <p><a class="btn btn-default" href="http://localhost:61651/Lekarz/Index">przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="green">Strefa recepcjonisty</h2>
        <p>Tutaj jest miejsce dla recepcjonisty kliknij przejdź, aby sie zalogować.</p>
        <br />  
        <p><a class="btn btn-default" href="http://localhost:61651/Recepcjonista/Index">przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="yellow">Strefa pacjenta</h2>
        <p>jeżeli jesteś pacjentem i chciałbyć skorzystać z oferty przychodni, kliknij tutaj, aby się zalogować i mieć dostęp do wirtualnej przychodni.</p>
        <br />
        <p><a class="btn btn-default" href="http://localhost:61651/Pacjent/Index">przejdź &raquo;</a></p>
    </div>
</div>