@{
    ViewBag.Title = "Kontakt";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    Nowa Polana 32B<br />
    Polska <br />
    <abbr title="numer telefonu">Telefon:</abbr>
    545-355-235
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@