
@{
    ViewBag.Title = "wyslane";
}

<h2>Recepta została wysłana do systemu</h2>

<br />
<li><h4>@Html.ActionLink("Dodaj następną receptę", "recepta", "Lekarz")</h4></li>
<li><h4>@Html.ActionLink("Przejdź do strony głównej", "Index", "Lekarz")</h4></li>

