
@{
    ViewBag.Title = "Index";
}

<h2>Witaj Pacjencie!</h2>
<h3>
    <br />
    Na tej stronie masz możliwość przeglądać takie dane jak np. kto leczy, <br />
    jaką ma profesję, i kiedy dany lekarz ma urlop. 
    <br />
    <div class="navbar-collapse ">
    <h3>Menu:</h3>
    <li><h4>@Html.ActionLink("Pacjent", "pacjent", "Pacjent")</h4></li>
    <li><h4>@Html.ActionLink("Lekarze", "lekarze", "Pacjent")</h4></li>
    </div>
</h3>