
@{
    ViewBag.Title = "lekarze";
}

<h2>o lekarzach</h2>

<div class="navbar-collapse ">
    <li><h4>@Html.ActionLink("Wyświetl dostepnych lekarzy", "dostepni_lekarze", "Pacjent")</h4></li>
    <br />
    <li><h4>@Html.ActionLink("Przejdź do strony głównej", "Index", "Pacjent")</h4></li>
</div>

